@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-thumb {
    background-color: black;
    width: 30px;
}

::-webkit-scrollbar {
    background-color: #6C1D12;
    width: 20px;
}